.chart_page {
  background: #353535;
  margin: 8px;
}

.chart_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 32px;
  border: 2px solid black;

  .chart_header {
    width: 100%;
    margin: 8px;
  }
}
