.chart_page {
  background: #353535;
  margin: 8px;
}

.chart_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1048px;
  border: 2px solid black;

  .chart_header {
    width: 100%;
    padding: 8px;
    background: #1a1716;
    border-bottom: 2px solid black;
  }

  .chart {
    padding: 32px;
  }
}
