.container {
  width: 100%;
  font-weight: 500;

  .range_box {
    width: fit-content;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    background: #1976d2;
    cursor: pointer;
    user-select: none;

    &:hover {
      background: #1565c0;
    }
  }
}
