.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chart_container {
  width: 100%;
  flex: 1;
}

footer {
  flex: 0 0 125px;
  border-top: 1px solid black;
  margin-top: 25px;
}
