@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

html,
body,
#root {
  height: 100%;
}

.container {
  max-width: 1048px;
  width: 100%;
  margin: 0 auto;
}

// add wildcard rule for MuiFormLabel-root.Mui-focused* {
*[class$="Mui-focused"] {
  color: #fff;
}

.Mui-focused {
  color: #fff !important;
}
